<!DOCTYPE html>
<html lang="en-us">

<head>
	<!-- GENERAL META -->
	<title>Schedule - Medi-Schedule</title>
	{{!-- <link rel="icon"
		type="image/png"
		href="http://megit push di-schedule.herokuapp.com/favicon.png"> --}}
	<meta charset="UTF-8">
	<meta name="authors" content="Team Sticky Bits - Delphine Dara, Michael Curnes, and Nan Loyd-Leffingwell" />
	<meta name="description" content="A full stack application that enables easy shift scheudling for hospitals." />
	<meta name="classification" content="student application" />
	<meta name="copyright" content="&copy; 2017 Team Sticky Bits - Delphine Dara, Michael Curnes, and Nan Loyd-Leffingwell" />

	<!-- Allow Zooming on Mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

	<!-- CSS RESET -->
	<link rel="stylesheet" href="/reset.css">
    <!-- CUSTOM CSS -->
	<link rel="stylesheet" href="/style.css">



	<!-- BOOTSTRAP CDN for CSS-->
 	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Script for Bootstrap Responsive Support-->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 	
	<!-- JQUERY CDN -->
 	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

	<!-- JS -->
	<script src="" type="text/javascript"></script>

</head>
<body>
    {{{body}}}
</body>
</html>

