

<div class="container-fluid">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>                        
        		</button>
				<a class="navbar-brand" href="/schedule">Medi-Schedule</a>
			</div><!-- /.navbar-header -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/schedule">Schedule<span class="sr-only">(current)</span></a></li>
					<li><a href="/patients">Patients</a></li>
					<li><a href="/nurses">Nurses</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="index.html" class="logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      			</ul>
			</div><!-- /.navbar-collapse -->	
		</nav>
	</div><!-- /.container-fluid -->
	<div class="content">
		<div class="container-fluid">
			<div class="header" id="nurses-header">
			    <h2>Current Staff</h2>
			    <h5 class="info">Below is the full current staff. If there are changes to staffing that are not reflected here please contact Staffing Services at <a href = "mailto:staffing_HR@generalhospital.com" class="mailto">staffing_HR@generalhospital.com.</a></h5>
			</div><!-- / #nurses-header -->
			<div class="row">
			    <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        <div class="panel panel-primary img-background">
						<div class="panel-heading">
							<h3 class="panel-title">Angstadt, Felix</h3>
						</div> <!-- / .panel-heading -->
						<div class="panel-body">
							<img src="/images/felix.jpg" width="150" height="150" class="center-block img-thumbnail" />
							<p class="shift">Friday, 1st shift</p>
							<p class="shift">Saturday, 1st shift</p>
							<p class="shift">Sunday, 1st shift</p>
						</div><!-- / .panel-body -->
					</div><!-- / .panel-primary -->
			    </div><!-- /.col-xs-6 col-sm-4 col-md-3 col-lg-2 -->

			    <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        <div class="panel panel-primary img-background">
						<div class="panel-heading">
							<h3 class="panel-title">Breeze, Tameaka</h3>
						</div> <!-- / .panel-heading -->
						<div class="panel-body">
							<img src="/images/tameaka.jpg" width="150" height="150" class="center-block img-thumbnail" />
							<p class="shift">Monday, 1st shift</p>
							<p class="shift">Tuesday, 1st shift</p>
							<p class="shift">Wednesday, 1st shift</p>
							<p class="shift">Thursday, 1st shift</p>
						</div><!-- / .panel-body -->
					</div><!-- / .panel-primary -->
			    </div><!-- /.col-xs-6 col-sm-4 col-md-3 col-lg-2 -->

			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Chevez, Treena</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/treena.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Friday, 3rd shift</p>
								<p class="shift">Saturday, 3rd shift</p>
								<p class="shift">Sunday, 3rd shift</p>
								</div><!-- / .panel-body -->
						</div><!-- / .panel-primary -->
			        </div><!-- / grid -->

			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Hoagland, Alphonse</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/alphonse.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="oncall">On Call</p>
								<p class="phone">555-555-1234</p>
								</div><!-- /.panel-body -->
						</div><!-- /.panel-primary -->
			        </div><!-- / grid -->
			</div><!-- /.row-->
			<div class="row">
			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Hopkins, Miquel</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/miquel.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Monday, 2nd shift</p>
								<p class="shift">Tuesday, 2nd shift</p>
								<p class="shift">Wednesday, 2nd shift</p>
								<p class="shift">Thursday, 2nd shift</p>
								</div> <!-- / .panel-body -->
						</div><!-- / .panel-primary -->
			        </div><!-- / grid -->

			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Love, Ethan</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
									<img src="/images/ethan.jpg" width="150" height="150" class="center-block img-thumbnail" />
									<p class="oncall">On Call</p>
									<p class="phone">555-555-2345</p>
								</div><!-- /.panel-body -->
						</div><!-- /.panel-primary -->
			        </div><!-- / grid -->
				
			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Malengo, Judi</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/judy.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Monday, 2nd shift</p>
								<p class="shift">Tuesday, 2nd shift</p>
								<p class="shift">Wednesday, 2nd shift</p>
								<p class="shift">Thursday, 2nd shift</p>
								</div> <!-- / .panel-body -->
						</div> <!-- / .panel-primary -->
			        </div> <!-- / grid -->

			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Nord, Carla</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/carla.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="oncall">On Call</p>
								<p class="phone">555-555-3456</p>
								</div><!-- /.panel-body -->
						</div><!-- /.panel-primary -->
			        </div><!-- / grid -->
			</div><!-- /.row-->

			<div class="row">
			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Rumsey, Danielle</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/danielle.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Friday, 2nd shift</p>
								<p class="shift">Saturday, 2nd shift</p>
								<p class="shift">Sunday, 2nd shift</p> 
								</div><!-- /.panel-body -->
						</div><!-- /.panel-primary -->
			        </div><!-- / grid -->

			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Smith, Brigitte</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/brigitte.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Friday, 1st shift</p>
								<p class="shift">Saturday, 1st shift</p>
								<p class="shift">Sunday, 1st shift</p> 
								</div> <!-- / .panel-body -->
						</div> <!-- / .panel-primary -->
			        </div> <!-- / grid -->

			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Smith, John</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/john.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Monday, 3rd shift</p>
								<p class="shift">Tuesday, 3rd shift</p>
								<p class="shift">Wednesday, 3rd shift</p>
								<p class="shift">Thursday, 3rd shift</p>
								</div> <!-- / .panel-body -->
						</div> <!-- / .panel-primary -->
			        </div> <!-- / grid -->

			        <div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Trapani, Melvin</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/melvin.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Monday, 1st shift</p>
								<p class="shift">Tuesday, 1st shift</p>
								<p class="shift">Wednesday, 1st shift</p>
								<p class="shift">Thursday, 1st shift</p>
								</div> <!-- / .panel-body -->
						</div> <!-- / .panel-primary -->
			        </div> <!-- / grid -->
			</div>

			<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Vacca, Andreas</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/andreas.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Friday, 3rd shift</p>
								<p class="shift">Saturday, 3rd shift</p>
								<p class="shift">Sunday, 3rd shift</p> 
								</div> <!-- / .panel-body -->
						</div> <!-- / .panel-primary -->
			        </div> <!-- / grid -->

					<div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Vanderploeg, Clement</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/clement.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Friday, 2nd shift</p>
								<p class="shift">Saturday, 2nd shift</p>
								<p class="shift">Sunday, 2nd shift</p> 
								</div> <!-- / .panel-body -->
						</div> <!-- / .panel-primary -->
			        </div> <!-- / grid -->

					<div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Vitale, Joannie</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/joannie.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="oncall">On Call</p>
								<p class="phone">555-555-4567</p>
								</div><!-- / .panel-body -->
						</div><!-- / .panel-primary -->
			        </div><!-- / grid -->

					<div class="col-xs-6 col-sm-6 col-md-3 min-height">
			        	<div class="panel panel-primary img-background">
								<div class="panel-heading">
									<h3 class="panel-title">Washington, Ashley</h3>
								</div> <!-- / .panel-heading -->
								<div class="panel-body">
								<img src="/images/ashley.jpg" width="150" height="150" class="center-block img-thumbnail" />
								<p class="shift">Monday, 3rd shift</p>
								<p class="shift">Tuesday, 3rd shift</p>
								<p class="shift">Wednesday, 3rd shift</p>
								<p class="shift">Thursday, 3rd shift</p>
								</div><!-- /.panel-body -->
						</div><!-- /.panel-primary -->
			        </div><!-- / grid -->
			</div><!-- /.row-->
		</div><!-- /.container-fluid -->
	</div><!-- /.content -->